.what img{
    width: 30px;
}
.what{
    background-color: #f1f1f1;
    width: 110px;
    position: fixed;
    top: 85%;
    right: 2%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 10000;
    padding: 4px;
}
.what span{
    margin-top: 8px;
    font-size: 11px;
}
select{
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-top: -5px;
    cursor: pointer;
}
select option{
    background-color: #c9592d;
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.move h1 span{
    margin-right: 250px;
}
.amigologo{
    width: 250px;
}
@media(max-width:991px){
    .move h1{
        font-size: 1rem;
    }
    .move h1 span{
        margin-right: 15px;
        font-size: 1rem;
    }
    .amigologo{
        width: 75px;
    }
}
ul{
    padding: 0rem;
}
.header  .cart-item img{
    width: 50px;
    height: 50px;
    margin-top: -10px;
}
