<form class="contact" #userPost="ngForm" (ngSubmit)="onsubmit(userPost.value)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text mt-5">
                    <h1>Contact Us</h1>
                    <hr class="w-25 text-black">
                    <p class="my-5">welcome to amigo! we value you feedback and inquiries. please feel free to reach
                        out to us
                        for any questions, concerns , or collaborations. Our team is dedicated to providing
                        exceptional and assistance</p>
                </div>
                <div class="text1">
                    <h4 class="my-5">DO YOU HAVE A QUESTION ? WRITE TO US</h4>
                    <P>BEST REGARDS , <br> Amigo Store</P>
                    <ul>
                        <li class="my-5">Email : </li>
                        <li class="my-5">Phone : 01030204693 </li>
                    </ul>
                    <h2>Our Social Networks</h2>
                    <div class="row ">
                        <div class="social">
                            <a href="https://www.facebook.com/amigostorepage" target="_blank">
                                <i class="fab fa-facebook "></i>
                            </a>
                            <a href="https://www.instagram.com/amigo.store7/" target="_blank">
                                <i class="fab fa-instagram "></i>
                            </a>
                            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.tiktok.com%2F%40eslamamigo7%3F_t%3D8fiWNyWFWa5%26_r%3D1%26fbclid%3DIwZXh0bgNhZW0CMTAAAR1vllRqDtmNozYoP-mlqfyZynLyt3dTJ4KTd0acMOPYn2z5gQKCC3IjVsM_aem_kbqh54eLBt1WWdrRsEfrSg&h=AT3qHyzhApQE7gsj7ECEef-Ltr-VNjnLZx-_aYWr4ggj8TIh6yNni08393T8-oIYVabx6GMtfbW_0UGIxuWXCtbEn2RAruoNZ9PbK3eZECi_oJcKdteHhytVrsTXXc0ntQ-0Jw"
                                target="_blank">
                                <i class="fab fa-tiktok "></i>
                            </a>
                            <a href="https://api.whatsapp.com/send/?phone=201030204693&text&type=phone_number&app_absent=0" target="_blank">
                                <i class="fab fa-whatsapp "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form (ngSubmit)="submitForm()" class="input">
                    <h1>HOW WE CAN HELP YOU</h1>
                    <hr class="w-25 text-black">
                    <label class="fs-4" for="name">Name:</label>
                    <input type="text" id="name" [(ngModel)]="contactData.name" placeholder="Your Name" #user="ngModel" required minlength="2" name="name" required />
                    <div class="alert alert-danger" *ngIf="user.touched && user.invalid">
                        <div *ngIf="user.errors.required">Please Enter Your Name</div>
                        <div *ngIf="user.errors.minlength">Please Your Name Must More Than 1 Char</div>
                    </div>
                    <label class="fs-4" for="email">E-mail:</label>
                    <input type="email" id="email" placeholder="Your Email" #email="ngModel" required minlength="4" [(ngModel)]="contactData.email" name="email" required />
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors.required">Please Enter Your Email</div>
                        <div *ngIf="email.errors.minlength">Please Your Email Must More Than 3 Char</div>
                    </div>
                    <label class="fs-4" for="phone">Phone</label>
                    <input type="tel" id="phone"  placeholder="Your Phone" #phone="ngModel" required minlength="9" [(ngModel)]="contactData.phone" name="phone" required />
                    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
                        <div *ngIf="phone.errors.required">Please Enter Your Phone</div>
                        <div *ngIf="phone.errors.minlength">Please Your Phone Must More Than 9 Char</div>
                    </div>
                    <label class="fs-4" for="message">Message:</label>
                    <textarea #msg="ngModel" placeholder="Your Message" id="message" [(ngModel)]="contactData.message" name="message" required ></textarea>
                    <div class="alert alert-danger" *ngIf="msg.touched && msg.invalid">
                        <div *ngIf="msg.errors.required">Please Enter Your msg</div>
                    </div>
                    <label>
                        <div class="checkbox d-inline-flex">
                            <input type="checkbox" #check="ngModel" class="check mx-1 " name="" id="" style="width: 30px;" [(ngModel)]="contactData.termsAccepted" name="termsAccepted" required>
                            <p class="fs-4 fw-bold mx-2">i accept the terms & condition and i understand that my data will
                                be hold securely in accordance with privacy and policy</p>
                        </div>
                        <div class="alert alert-danger" *ngIf="check.touched && check.invalid">
                            <div *ngIf="check.errors.required">Please Accept The Terms</div>
                        </div>
                    </label>

                    <button class="" type="submit">Send Data</button>

                    <p *ngIf="successMessage" style="color: green;" class="alert alert-success">{{ successMessage }}</p>
                    <p *ngIf="errorMessage" style="color: red;" class="alert alert-danger">{{ errorMessage }}</p>
                </form>
            </div>
        </div>
    </div>
</form>

<!-- <form action="" style="margin-top: 300px;" #userPost="ngForm" (ngSubmit)="onsubmit(userPost.value)">
    <input type="text" name="name" ngModel>
    <input type="submit">
</form> -->
