.col-lg-12{
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin: 170px auto;
}
.cart .btn-danger{
    background-color: #dc3545;
}
.cart .btn-success{
    width: 120px;
    font-size: 18px;
}
table{
    width: 100%;
}
table th{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
table td{
    background-color: #f1f1f1;
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: center;
}
img{
    width: 80px;
    height: 80px;
}
.right{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media(max-width:991px){
    table{
        width: 100%;
    }
    table th{
        padding: 0px;
        text-align: center;
        font-size: 10px;
    }
    table td{
        background-color: #f1f1f1;
        border-bottom: 2px solid black;
        padding: 0px;
        text-align: center;
    }
    table input{
        width: 20px;
        text-align: center;
    }
    table .counter-btn{
        width: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    img{
        width: 50px;
        height: 50px;
    }
}