
.card{
    width: 100%;
}
.clothes{
  margin-top: 120px;
}
.card img{
  height: 400px;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}
.card .pointer p{
margin-bottom: 0.3rem;
}
a{
    color: black;
    text-align: center;
}
.card{
    position: relative;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
}
.size-selection {
    margin-bottom: 10px;
  }
  
  .sizes-container {
    display: flex;
    gap: 10px;
  }
.size-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
  
  .size-box input {
    display: none;
  }
  
  .size-box span {
    pointer-events: none; /* يمنع التأثير على النص */
  }
  
  .size-box input:checked + span {
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    padding: 5px;
  }
  @media (max-width:991px){
    .clothes{
      margin-top: 90px;
    }
  }