<app-navbar></app-navbar>
<div class="row" >
    <div class="col-lg-3">
        <nav class="sidebar">
            <div class="brand-logo">Amigo</div>
            <ul class="menu">
                <li><a routerLink="/admin">Dashboard</a></li>
                <li><a routerLink="/adminproduct">Products</a></li>
                <li><a routerLink="/customerorder">Orders</a></li>
                <li><a routerLink="/customerconnect">Customers</a></li>
                <li><a routerLink="" (click)="logout()">LogOut</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-9" style="margin-top: 30px;">
        <div class="container">
            <header>
                <div class="top-bar">
                    <div class="logo">Amigo</div>
                    <div class="user-profile">
                    <span>Admin</span>
                    <img src="../../assets/img/delpo.jpg" alt="User Profile">
                </div>
                </div>
            </header>
        <div class="row mt-5">
            <table class="table fw-bold fs-3 table-responsive">
                <tr >
                    <th></th>
                    <th>Image</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr >
                <tr *ngFor="let cat of allcategory[0]; let i =index;">
                    <td>{{i+1}}</td>
                    <td><img style="width: 50px; height: 50px;" [src]="'https://amigoapi.mosalam.com/uploads/category/'+cat.image" alt=""></td>
                    <td>{{cat.name}}</td>
                    <td><button class="update" (click)="editCategory(cat)">Update</button>
                        <button class="delete" (click)="deleteCategory(cat._id)">Delete</button>
                    </td>
                    <p *ngIf="cat.length === 0" class="alert alert-danger">No categories available.</p>
                </tr>
            </table>
            <div class="col-lg-3" *ngFor="let data of alldata[0]; let index = index;">
                <div class="card text-center mb-2 p-5">
                    <img [src]="'https://amigoapi.mosalam.com/uploads/products/'+data.imageCover" alt="">
                    <h1>{{data.title}}</h1>
                    <p>{{data.price}}</p>
                    <p>{{data.description}}</p>
                    <div class="row buttons ">
                        <button class="btn btn-danger w-100 " (click)="deleteproduct(data._id)">Delete</button>
                        <!-- <button class="btn btn-info" (click)="editproduct(data)">update</button> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>    
</div>
