<app-navbar></app-navbar>
<section class="product">
    <!-- <div class="container"*ngFor="let item of data">
        <div class="row">
            <div class="col-lg-6" >
                
                <div class="view">
                    <img class="w-100" src="{{item.image}}" alt="">
                </div>
            </div>
            <div class="col-lg-6" >
                <div class="details">
                    <div class="text mx-5">
                        <h1> {{item.name}} </h1>
                        <p>Price: $ item.price </p>
                        <div class="d-text">
                            <i class="fab fa-guilded text-black"></i>
                            <h4>Sizing Guide</h4>
                        </div>
                        <div class="d-text">
                            <i class="fas fa-eye text-black"></i>
                            <h4>21 People View Product Right Now</h4>
                        </div>
                        <div class="d-text">
                            <i class="fas fa-fire text-danger"></i>
                            <h4>4 Items Solid In last 3Hours</h4>
                        </div>
                        <div class="sizes fw-bold">
                            <h4>Size</h4>
                            <a href="" class="size">30</a>
                            <a href="" class="size">32</a>
                            <a href="" class="size">34</a>
                            <a href="" class="size">36</a>
                            <a href="" class="size">38</a>
                        </div>
                        <div class="counter">
                            <button id="decrease" class="counter-btn" (click)="decrease()">-</button>
                            <input type="number" id="quantity" value="1" min="1" readonly [(ngModel)]="quantity">
                            <button id="increase" class="counter-btn" (click)="increase()">+</button>
                            <button (click)="addToCart()" id="add-to-cart-btn" class="btn btn-dark m-5 cart-btn   ">
                                <i class="fas fa-shopping-cart" id="cart-btn"></i>
                                Add to Cart</button>
                        </div>
                        <div class="buy">
                            <p class="line">or</p>
                            <button class="btn btn-danger w-100 buy-now"><i class="fas fa-shopping-cart"
                                id="cart-btn"></i>BUY NOW</button>
                        </div>
                        <hr class="text-danger">
                    </div>
                    <div class="cart">
                        <h3>Cart</h3>
                        <ul id="cart-items">
                            Cart items will be listed here
                        </ul>
                        <p>Total:calc$<span id="total-price"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container"*ngFor="let item of data" >
        <div class="row">
            <div class="col-lg-6" >
                
                <div class="view">
                    <img class="w-100" [src]="'http://localhost:8000/uploads/products/'+item.imageCover" alt="">
                    <img class="w-100 mt-3" [src]="'http://localhost:8000/uploads/products/'+item.images[0]" alt="">
                </div>
            </div>
            <div class="col-lg-6" >
                <div class="details">
                    <div class="text mx-5">
                        <h1> {{item.title}} </h1>
                        <h2 class="font-weight-bold text-secondary">Price:  {{item.price}}Egp </h2>
                        <div class="d-text">
                            <i class="fab fa-guilded text-black"></i>
                            <h4>{{item.description}}</h4>
                        </div>
                        <div class="d-text">
                            <i class="fas fa-eye text-black"></i>
                            <h4>21 People View Product Right Now</h4>
                        </div>
                        <div class="d-text">
                            <i class="fas fa-fire text-danger"></i>
                            <h4>4 Items Solid In last 3Hours</h4>
                        </div>
                        <div class="row flex">
                            <h4>Size :</h4>
                            <label *ngFor="let s of item.size" class="size-box mx-2">
                              <input  type="radio" [name]="'size_' + item._id" [(ngModel)]="selectedSizes[item._id]" [value]="s" />
                              <span>{{ s }}</span>
                            </label>
                          </div>
                        <div class="counter">
                            <tr *ngFor="let item of data; let index = index ;">
                                <td>
                                        <li>
                                            <div class="counter d-flex mt-5">
                                            <button id="decrease" class="counter-btn bg-black text-white w-25 mx-1" (click)="decrease(index)">-</button>
                                            <input  class="form-control w-100"  (change)="detectedchange()" type="number" id="quantity" value="1" min="1" [(ngModel)]="item.quantity"  >
                                            <button id="increase" class="counter-btn bg-black text-white w-25 mx-1" (click)="increase(index)">+</button>
                                            </div>
                                        </li></td> <br>
                                <td class="w-50 fs-2 font-weight-bold">Total : <span class="text-danger  font-weight-bold">{{item.price * item.quantity}} EGP</span>  </td>
                            </tr>
                            <button   (click)="addToCart(item ,amount)" id="add-to-cart-btn" class="btn btn-dark mx-1 cart-btn ">
                                <i class="fas fa-shopping-cart" id="cart-btn"></i>
                                Add to Cart</button>
                        </div>
                        <div class="buy">
                            <p class="line">or</p>
                            <button class="btn btn-danger w-100 buy-now" (click)="addToCart(item ,amount)" routerLink="/checkout"><i class="fas fa-shopping-cart"
                                id="cart-btn"></i>BUY NOW</button>
                        </div>
                        <!-- <hr class="text-danger"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>