<section class="shipping">
    <div class="center">
        <h1>SHIPPING AND RETURN POLICY</h1>
        <h1>الشحن و سياسة الارتجاع</h1>
        <h4>* مدة شحن الطلب*</h4>
        <p> بمجرد إتمام عملية الشراء عبر موقعنا الإلكتروني، سيقوم ممثلو قسم المبيعات بالاتصال بكم خلال يومين لتأكيد
            الطلب في مواعيد مختلفة. في حال عدم الرد، سيتم إلغاء الطلب. يتم شحن الطلب بعد التأكيد من يوم إلى أربعة
            أيام عمل
        </p>
        <p>سياسة الاستبدال والاسترجاع
            نحن في اميجو  نسعى دائما لضمان رضا عملائنا عن المنتجات التي يشترونها. إذا لم تكن راضيا عن مشترياتك،
            فإننا
            نوفر لك خيارات الاستبدال والاسترجاع وفقا للشروط التالية</p>
        <h4>سياسة الاسترجاع*</h4>
        <p>مدة الاسترجاع: يمكنك طلب استرجاع المنتج خلال 14 يوما من تاريخ استلامه
            حالة المنتج: يجب أن يكون المنتج غير مستخدم وفي حالته الأصلية مع جميع الملصقات والتغليف الأصلي الإيصال أو
            الفاتورة: يجب تقديم إيصال الشراء أو الفاتورة عند طلب الاسترجاع*
            طريقة الاسترجاع عند عمل المرتجع عبر المندوب يتم فحص القطعة للتأكد من حالتها الأصلية خلال 7-10 أيام عمل،
            ثم يتم
            التواصل مع العميل لتحويل
            المبلغ عبر فودافون كاش أو إنستا باي
            يتم الإبلاغ عن طريق الواتس آب والتأكيد مع العميل قبل إرسال المندوب *
        </p>
        <h4>* سياسة الاستبدال*</h4>
        <p>مدة الاستبدال : يمكنك طلب استبدال المنتج خلال 10 يوما من تاريخ استلامه
            حالة المنتج: يجب أن يكون المنتج غير مستخدم وفي حالته الأصلية مع جميع الملصقات والتغليف الأصلي
            المنتجات التالفة أو الخاطئة: إذا كان المنتج تالفاً أو تم إرسال منتج خاطئ سنتحمل نحن تكاليف الشحن لإعادة
            المنتج
            واستبداله نتحمل نحن تكاليف الشحن إذا كانت القطعة الوحيدة في الطلب مع وجود ديفوه، ولا نتحمل تكاليف الشحن
            إذا كان
            هناك قطع أخرى سليمة. ونتحمل* مصارف شحن ارسال القطعة مرة اخرى
        </p>
        <p> إجراءات الاستبدال والاسترجاع
            التواصل معنا: يرجى التواصل مع خدمة العملاء لدينا عبر الواتساب على رقم 01030204693*
        </p>
        <h4>استثناءات</h4>
        <p> المنتجات المخصومة: لا يمكن استرجاع أو استبدال المنتجات التي تم شراؤها خلال فترة التخفيضات أو العروض
            الخاصة إلا
            في حال وجود عيب*
            تصنيع
            ملابس السباحة لأسباب صحية لا يمكن استرجاع أو استبدال ملابس السباحة
        </p>
        <p> نحن هنا لخدمتك ونسعى دائماً لضمان رضاك التام عن تجربتك مع اميجو .إذا كانت لديك أي استفسارات أو تحتاج إلى
            مساعدة إضافية، لا تتردد في التواصل معنا .
        </p>
    </div>
</section>