name: Deploy to Server

on:
  push:
    branches: [ main ]  # Adjust this based on your branch name
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          echo -e "Host server\n\tHostName ${{ secrets.SSH_HOST }}\n\tUser ${{ secrets.SSH_USERNAME }}\n\tPort ${{ secrets.SSH_PORT }}\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

      - name: Run deployment script
        run: ssh server "bash /root/deployAmgio.sh"
